<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Título -->
        <div class="text-4xl font-extrabold tracking-tight">Perfis</div>
        <!-- Ações -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Pesquisa -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput [(ngModel)]="pesquisaPerfil" (input)="pesquisarPerfis(pesquisaPerfil)" [autocomplete]="'off'" [placeholder]="'Procure os perfis'">
            </mat-form-field>
            <!-- Add perfil button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="novoPerfil()">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Cadastrar Novo Perfil</span>
            </button>
        </div>
    </div>

    <fuse-alert [type]="'success'" *ngIf="alertaSucesso">
        <span fuseAlertTitle>Exclusão de Perfil</span>
        Perfil excluído com sucesso
    </fuse-alert>

    <fuse-alert [type]="'error'" *ngIf="alertaErro">
        <span fuseAlertTitle>Perfil não excluído</span>
        Não foi possível a exclusão do perfil
    </fuse-alert>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Lista de Perfis -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">

            <ng-container *ngIf="perfis.length > 0; else perfisNaoEncontrados">
                <div class="grid">
                    <!-- Header -->
                    <div class="perfil-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                        <div class="hidden md:block" [mat-sort-header]="'id'">ID</div>
                        <div class="hidden md:block" [mat-sort-header]="'descricao'">Descrição</div>
                        <div class="hidden md:block" [mat-sort-header]="'ativo'">Ativo</div>
                        <div>Ações</div>
                    </div>
                    <!-- Rows -->
                    <ng-container *ngFor="let perfil of perfis; trackBy: trackByFn">
                        <div class="perfil-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                            <!-- ID Perfil -->
                            <div class="hidden md:block truncate">
                                {{perfil.id}}
                            </div>

                            <!-- Descrição -->
                            <div class="hidden md:block truncate">
                                {{perfil.descricao}}
                            </div>

                            <!-- Ativo -->
                            <div class="truncate">
                                {{perfil.ativo ? 'SIM' : 'NÃO'}}
                            </div>

                            <div>
                                <button
                                    class="min-w-10 min-h-7 h-7 px-2 leading-6 mr-1"
                                    mat-stroked-button
                                    (click)="editarPerfil(perfil.id)">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                                </button>
                                <button
                                    class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                    mat-stroked-button
                                    (click)="excluirPerfil(perfil.id)">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                </button>
                            </div>

                        </div>
                    </ng-container>
                </div>

                <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"
                        (page)="onPageChange($event)">
                </mat-paginator>

            </ng-container>

            <ng-template #perfisNaoEncontrados>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">Não existem perfis cadastrados!</div>
            </ng-template>

        </div>

    </div>

</div>
