<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <div class="text-3xl font-extrabold tracking-tight">Cadastro de Perfil</div>
    </div>

    <fuse-alert [type]="'success'" *ngIf="alertaSucesso">
        <span fuseAlertTitle>Perfil Inserido/Atualizado com sucesso</span>
        Você será direcionado para a lista de perfis cadastrados
    </fuse-alert>

    <fuse-alert [type]="'error'" *ngIf="alertaErro">
        <span fuseAlertTitle>Falha ao inserir/atualizar Perfil</span>
        Ops! Não foi possível inserir ou atualizar o perfil, por favor verifique o log de erro
    </fuse-alert>

    <fuse-alert [type]="'error'" *ngIf="alertaErroFormulario">
        <span fuseAlertTitle>Informações Formulário</span>
        Ops! Existem informações obrigatórias a serem preenchidas no formulário, preencha e depois tente salvar novamente
    </fuse-alert>

    <!-- Main -->
    <div class="flex flex-col overflow-hidden">
        <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden" [formGroup]="perfilForm">
            <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">
                <div class="flex">
                    <mat-form-field class="flex-col-6 mr-4" *ngIf="labelBotao == 'Atualizar'">
                        <mat-label>ID</mat-label>
                        <input
                            matInput
                            [formControlName]="'id'"
                        >
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                    <mat-checkbox class="mb-4"
                            [formControlName]="'ativo'"
                            [labelPosition]="'after'"
                            [color]="'primary'"
                        >
                            Ativo?
                    </mat-checkbox>
                </div>
                <div class="flex">
                    <mat-form-field class="flex-auto">
                        <mat-label>ID Sistema</mat-label>
                        <input
                            matInput
                            [formControlName]="'id_sistema'"
                            [placeholder]="'Informe o id do sistema que o perfil pertence'"
                        >
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto ml-4">
                        <mat-label>Descrição</mat-label>
                        <input
                            matInput
                            [formControlName]="'descricao'"
                            [placeholder]="'Informe a descrição do perfil'"
                        >
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                </div>

                <div class="flex" *ngIf="labelBotao == 'Atualizar'">
                    <mat-form-field class="flex-auto">
                        <mat-label>Criado em:</mat-label>
                        <input
                            matInput
                            [formControlName]="'createdAt'"
                            [value]="perfilForm.get('createdAt').value | date: 'dd/MM/yyyy HH:mm:ss'"
                        >
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field class="flex-auto ml-4">
                        <mat-label>Atualizado em:</mat-label>
                        <input
                            matInput
                            [formControlName]="'updatedAt'"
                            [value]="perfilForm.get('updatedAt').value | date: 'dd/MM/yyyy HH:mm:ss'"
                        >
                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </form>

        <div class="flex flex-col px-8 bg-card shadow rounded overflow-hidden">
            <div class="flex flex-col gt-xs:flex-row gt-xs:items-start">                
                <div class="text-xl font-semibold mb-4">Menus:</div>                
                <div class="flex mt-1 mb-1" *ngFor="let menu of menusPerfilAcesso;">
                    <mat-expansion-panel class="flex-auto" #panelMenus hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{ menu.title }}
                          </mat-panel-title>
                          <mat-slide-toggle
                                [(ngModel)]="menu.ativo"
                                [color]="'primary'">
                          </mat-slide-toggle>
                          <mat-icon >{{panelMenus.expanded? 'expand_less' : 'expand_more'}}</mat-icon>
                        </mat-expansion-panel-header>
                        <div class="mb-2" *ngFor="let menuFilho of menu.children">
                            <mat-slide-toggle
                                [(ngModel)]="menuFilho.ativo"
                                [color]="'primary'">
                                {{ menuFilho.title }}
                            </mat-slide-toggle>
                        </div>
                    </mat-expansion-panel>
                </div>
                <div class="flex pt-4 items-center justify-end">
                    <button class="px-6 ml-3" mat-flat-button [color]="'primary'" (click)="cadastrarAtualizarPerfil()">
                        {{ labelBotao }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
